<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuration</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <h1>Configuration</h1>
        <div><a href="/">← Back to Control</a></div>

        <div class="card">
            <h2>Rotary Motor</h2>
            <div class="row">
                <button id="btn-home" class="btn-home">1. Move Home</button>
                <button id="btn-set-zero" class="btn-back">2. Set Zero</button>
                <label for="degrees">Move Degrees</label>
                <input id="degrees" type="number" step="1" value="36">
                <button id="btn-move-fwd" class="btn-move">Move +</button>
                <button id="btn-move-bwd" class="btn-back">Move -</button>
                
            </div>
        </div>

        <div class="card">
            <h2>Process Settings</h2>
            <div class="row">
                <label for="step_degrees">Step Degrees</label>
                <input id="step_degrees" type="number" step="1" value="36">
                <label for="dwell_ms">Dwell (ms)</label>
                <input id="dwell_ms" type="number" step="50" value="1000">
            </div>
            <div class="row">
                <label for="slider_in_delay">Slider In Speed (delay s)</label>
                <input id="slider_in_delay" type="number" step="0.0001" value="0.0008">
                <label for="slider_out_delay">Slider Out Speed (delay s)</label>
                <input id="slider_out_delay" type="number" step="0.0001" value="0.0008">
                <button id="btn-save-config" class="btn-move">Save</button>
            </div>
        </div>

        <div class="card">
            <h2>Sensors</h2>
            <div class="row">
                <div>Home Switch <span id="hall" class="indicator"></span></div>
                <div>Key <span id="inductive" class="indicator"></span></div>
                <div>Slider IN <span id="smin" class="indicator"></span></div>
                <div>Slider OUT <span id="smax" class="indicator"></span></div>
            </div>
        </div>

        <div class="card">
            <h2>System</h2>
            <div id="msg">Ready</div>
        </div>
    </div>

    <script src="/static/config.js"></script>
</body>

</html>

