<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rotary Table Control</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="C:/Users/elwoo/KeyLoader/key-loader/static/style.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Serial Key Control</h1>
            <div class="nav-inline">
                <a href="/">← Back to Control</a>
            </div>
        </div>
        <div class="card">
            <h2>Process Control</h2>
            
            <div class="button-group">
                <button id="home-button">Home Machine</button>
                <p>Num of Keys</p>
                <input id="cycles" type="number" min="1" value="10"
                    style="flex:0 0 100px; padding: 12px; border-radius: 5px; border: 1px solid #ccc;"
                    placeholder="Cycles">
                <button id="start-button">Start Cycle</button>
            </div>
        </div>
        <div class="card">
            <h2>Process Status</h2>
            <div class="row">
                <div class="flex-container">
                    <div class="flex-item">Cycles Progress<span id="cycles-progress" class="status-value">0 of 0</span></div>
                    <div class="flex-item"><span class="divider"></span></div>
                    <div class="flex-item">Current Position<span id="current-position" class="status-value">Position 0</span></div>
                </div>
            </div>
            <h2>Info & Status</h2>
            <div class="row">
                <div class="flex-container">
                    <div class="flex-item">Status<span id="homed-status" class="status-value homed-no">Not Homed</span></div>
                    <div class="flex-item"><span class="divider"></span></div>
                    <div class="flex-item">Home<span id="hall" class="indicator_config"></span></div>
                    <div class="flex-item"><span class="divider"></span></div>
                    <div class="flex-item">Key<span id="inductive" class="indicator_config"></span></div>
                    <div class="flex-item"><span class="divider"></span></div>
                    <div class="flex-item">Slider IN <span id="smin" class="indicator_config"></span></div>
                    <div class="flex-item"><span class="divider"></span></div>
                    <div class="flex-item">Slider OUT <span id="smax" class="indicator_config"></span></div>
                    <div class="flex-item"><span class="divider"></span></div>
                    <div class="flex-item">Slider Status <span id="slider-status" class="status-text">Ready</span></div>
                    <div class="flex-item"><span class="divider"></span></div>
                    <div class="flex-item">Pico Status <span id="pico-status" class="status-text">Ready</span></div>

                </div>
            </div>
        </div>
        <div class="card">
            <h2>System</h2>
            <div id="system-message">Ready</div>
        </div>
    </div>
    <script src="/static/script.js"></script>
</body>

</html>